components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
info:
  description: Search through Contoso's wide range of outdoor and recreational products.
  title: Contoso Product Search
  version: 0.1.0
openapi: 3.0.2
paths:
  /products:
    get:
      description: Returns a list of products, optionally filtered by providing a
        query parameter.
      operationId: getProducts
      parameters:
      - in: query
        name: query
        required: false
        schema:
          title: Query
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get a list of products
servers:
- url: https://stefanhuber1510-symmetrical-succotash-w4v9vv957wj2gqvw-8000.preview.app.github.dev
